<h1>Instructors</h1>

<ul>
  <% @instructors.each do |instructor| %>
  <li><%= instructor %>Name: <%= instructor.name %>, Created at: <%= instructor.created_at%></li>
  <% end %>
</ul>

<%= link_to "New Instructor", "/instructors/new" %>