<h1>Welcome to the Resorts System</h1>

<ul>
  <li><a href="/resorts">Resort Index</a></li>
  <li><a href="/instructors">Instructor Index</a></li>
  <!-- <li><a href="/resorts/new">New Resort</a></li> -->
  <li><a href="/pass_holders">Pass Holder Index</a></li>
</ul>
